<script>
    const bannerText = {{ collections['sale-collection'].products | json }}
    //const bannerText = "other  Text"
</script>

{% comment %} <div class="banner-top" id="banner-top"></div> {% endcomment %}
