<section class="newsletter">
  <h2>Don't miss out on a sale again.</h2>
  <p>Sign up now for sale alerts & special offers</p>
  <div class="newsletter-input">
    <input type="email" placeholder="Your email address">
    <button>SUBSCRIBE</button>
  </div>
  {% render 'socials' %}
</section>