<footer>
  <section>
    <h3>ABOUT US</h3>
    <ul>
      <li>
        <a href="#">Our Story</a>
      </li>
      <li>
        <a href="#">Store Locations</a>
      </li>
      <li>Careers</li>
      <li>Our Blog</li>
      <li>Brands</li>
      <li>Contact Us</li>
    </ul>
  </section>
  <section>
    <h3>CATEGORIES</h3>
    <ul>
      <li>Men</li>
      <li>Store Locations</li>
      <li>Careers</li>
      <li>Our Blog</li>
      <li>Brands</li>
      <li>Contact Us</li>
    </ul>
  </section>
  <section>
    <h3>CUSTOMER CARE</h3>
    <ul>
      <li>FAQs</li>
      <li>Store Locations</li>
      <li>Careers</li>
      <li>Our Blog</li>
      <li>Brands</li>
      <li>Contact Us</li>
    </ul>
  </section>
  <section class="newsletter">
    <h2>Don't miss out on a sale again.</h2>
    <p>Sign up now for sale alerts & special offers</p>
    <div class="newsletter-input">
      <input type="email" placeholder="Your email address">
      <button>SUBSCRIBE</button>
    </div>
    <div class="socials">
      <span>
        <i class="fa-brands fa-facebook-f"></i>
      </span>
      <span>
        <i class="fa-brands fa-twitter"></i>
      </span>
      <span>
        <i class="fa-brands fa-instagram"></i>
      </span>
      <span>
        <i class="fa-brands fa-dribbble"></i>
      </span>
      <span>
        <i class="fa-brands fa-pinterest"></i>
      </span>
    </div>
  </section>
</footer>

{% schema %}
  {
    "name": "footer",
    "settings": []
  }
{% endschema %}