<section class="ilustrations">
    <div class="carousel">
        <div class="image-container" id="imgs">
            <img src={{"https://plus.unsplash.com/premium_vector-1718744549761-6f3e74e7691f?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"}}
                alt="image-1">
            <img src="https://plus.unsplash.com/premium_vector-1718272235132-28f250a552fe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D"
                alt="image-2">
            <img src="https://plus.unsplash.com/premium_vector-1718272235451-35256e545a75?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image-3">
            <img src="https://plus.unsplash.com/premium_vector-1718272235032-3b97ec3beeda?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D"
                alt="image-4">
        </div>
        <div class="buttons-container">
            <button id="left" class="btn">Prev</button>
            <button id="right" class="btn">Next</button>
        </div>
    </div>
</section>

<style>
  
  /* .ilustrations{
    display:flex;
    justify-content:center;
  } */
    .carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 400px;
    overflow: hidden;
}

.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.image-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}
</style>

{%  javascript  %} 
document.addEventListener("DOMContentLoaded", () => {
  let currentSlide = 0;
  const slideWidth = document.querySelector(".image-container img").clientWidth;
  const nextButton = document.getElementById("right");
  const prevButton = document.getElementById("left");
  const imageContainer = document.querySelector(".image-container");
  const totalSlides = document.querySelectorAll(".image-container img").length;

  const autoSlide = setInterval(() => {
    currentSlide = currentSlide + 1;
    if (currentSlide === totalSlides) currentSlide = 0;
    changeSlide();
  }, 2000);

  const moveSlider = (direction) => {
    clearInterval(autoSlide);
    if (direction === "left") {
      currentSlide = currentSlide > 0 ? currentSlide - 1 : totalSlides - 1;
    } else if (direction === "right") {
      currentSlide = currentSlide < totalSlides - 1 ? currentSlide + 1 : 0;
    }
    changeSlide();
  };

  const changeSlide = () => {
    imageContainer.style.transform = `translateX(-${
      currentSlide * slideWidth
    }px)`;
  };

  prevButton.addEventListener("click", () => moveSlider("left"));
  nextButton.addEventListener("click", () => moveSlider("right"));
});
{% endjavascript %}

{% schema %}
    {
      "name": "ilustrations-slider",
      "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "change the title text",
          "default": "From The People"
        }, {
          "type": "image_picker",
          "id": "testimonial_one_image",
          "label": "Select Author 1 image"
        },
        {
            "type": "range",
            "min": 3,
            "max": 5,
            "id": "stars",
            "label": "testimonial stars",
            "default": 5
        }
      ],
      "presets": [
        {
          "name": "ilustrations-slider"
        }
      ]
    }
  {% endschema %}