<section class="instagram-carousel">
  <div class="instagram-carousel-title">
    <h1 class="title-loop">instagram</h1>
    <h1 class="title-loop">instagram</h1>
    <h1 class="title-loop">instagram</h1>
    <h1 class="title-loop">instagram</h1>
    <h1 class="title-loop">instagram</h1>
    <h1 class="title-loop">instagram</h1>
  </div>
  <div class="instagram-images">
    <div class="splide instagram-latest-posts">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="instagram-post">
              <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/Untitled-1Artboard_7.jpg?v=1658742716&width=600" alt="">
            </div>
          </li>
          <li class="splide__slide">
            <div class="instagram-post">
              <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/Untitled-1Artboard_4.jpg?v=1658742715&width=600" alt="">
            </div>
          </li>
          <li class="splide__slide">
            <div class="instagram-post">
              <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/Untitled-1Artboard_1.jpg?v=1658742699&width=600" alt="">
            </div>
          </li>
          <li class="splide__slide">
            <div class="instagram-post">
              <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/Untitled-1Artboard_10.jpg?v=1658742716&width=600" alt="">
            </div>
          </li>
          <li class="splide__slide">
            <div class="instagram-post">
              <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/Untitled-1Artboard_9.jpg?v=1658742716&width=600" alt="">
            </div>
          </li>
          <li class="splide__slide">
            <div class="instagram-post">
              <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/Untitled-1Artboard_7.jpg?v=1658742716&width=600" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "instagram-slider",
    "presets": [
      {
        "name": "collection-slider"
      }
    ]
  }
{% endschema %}