<section
  class="product-carousel"
  data-section-related="{{ section.id }}"
  data-product-id="{{ product.id }}">
  <div class="carousel-nav">
    <div class="carousel-nav-button">
      <span class="active">Related products</span>
    </div>
    <div class="carousel-nav-button">
      <span>Recently viewed</span>
    </div>
  </div>
  <div class="carousel-container">
    <div class="carousel-body active" id="product-recommendations">
      {%- if recommendations.performed? -%}
        {%- if recommendations.products_count > 0 -%}
          {% for product in recommendations.products limit: 4 %}
            {% render 'product-card' product: product %}
          {% endfor %}
        {%- endif -%}
      {%- endif -%}
    </div>
    <div class="carousel-body" id="recently-visited">
      {% for product in search.results limit: 10 %}
        {% render 'product-card' product: product %}
      {% endfor %}
    </div>
  </div>
</section>

<script src="{{ 'related-recent-sections.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "related-products",
    "settings": [],
    "presets": [
      {
        "name": "related-products"
      }
    ]
  }
{% endschema %}