<div class="wishlist-page-container"></div>

{% schema %}
  {
    "name": "wishlist",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "wishlist"
      }
    ]
  }
{% endschema %}