@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

ul li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  color: white;
  background-color: transparent;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  z-index: 10;
}
.navbar .logo {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar.sticky {
  position: sticky;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  color: black;
  padding: 0 5%;
  max-width: 100%;
  top: 0px;
}
.navbar.sticky ul li a {
  color: black;
  text-decoration: none;
}
.navbar.sticky .white-logo {
  display: none;
}
.navbar.sticky .black-logo {
  display: block;
}
.navbar .logo-box img {
  width: 100%;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 20px 0;
}
.navbar ul li a span {
  display: inline-flex;
}
.navbar .navbar-box ul, .navbar .user-box ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.navbar .navbar-box ul li {
  font-size: 12px;
  font-weight: 600;
}
.navbar .user-box ul li {
  font-size: 20px;
}
.navbar .user-box .nav-cart-box {
  position: relative;
}
.navbar .user-box .nav-cart-box .items-in-cart {
  position: absolute;
  top: 10px;
  right: -15px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .mobile-menu-icon {
  padding: 20px 5px;
  display: none;
}
@media (max-width: 768px) {
  .navbar .mobile-menu-icon {
    display: block;
  }
}
.navbar .nav-cart-box-mobile {
  display: none;
}
@media (max-width: 768px) {
  .navbar .nav-cart-box-mobile {
    display: block;
  }
}
@media (max-width: 992px) {
  .navbar .navbar-box {
    display: block;
  }
  .navbar .user-box {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar {
    position: sticky;
    background-color: #eaf1f6;
    color: black;
    padding: 0 5%;
    max-width: 100%;
    top: 0px;
  }
  .navbar .navbar-box {
    display: none;
  }
  .navbar .user-box {
    display: none;
  }
  .navbar .mobile-menu-icon {
    display: block;
  }
}

.mobile-menu-drawer {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 340px;
  background-color: white;
  z-index: 100;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s, visibility 0.4s;
}
.mobile-menu-drawer.active {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
}
.mobile-menu-drawer .menu-header {
  background-color: rgb(214, 213, 213);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 13px;
  border-bottom: 2px solid orangered;
  position: relative;
}
.mobile-menu-drawer .menu-header .mobile-menu-close {
  position: absolute;
  right: 0;
  font-size: 24px;
  padding: 20px 10px;
}
.mobile-menu-drawer .mobile-menu-links .menu-item {
  padding: 15px 15px;
  border-bottom: 0.3px solid #d4d4d4;
  color: black;
}
.mobile-menu-drawer .mobile-menu-links .menu-item.has-submenu-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}
.mobile-menu-drawer .mobile-menu-links .menu-item.has-submenu-mobile.active {
  background-color: #d4d4d4;
}
.mobile-menu-drawer .mobile-menu-links .menu-item.has-submenu-mobile.active .mobile-plus {
  rotate: 45deg;
}
.mobile-menu-drawer .mobile-menu-links .menu-item.has-submenu-mobile .mobile-plus {
  transition: rotate 0.3s;
}
.mobile-menu-drawer .mobile-menu-links .mobile-childlinks {
  display: none;
}
.mobile-menu-drawer .mobile-menu-links .mobile-childlinks.active {
  display: block;
}
.mobile-menu-drawer .mobile-menu-links .mobile-childlinks .submenu-item {
  padding: 15px 0;
  padding-left: 40px;
  border-bottom: 0.3px solid #d4d4d4;
  color: black;
}

.mobile-menu-overlay.is-active {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  color: black;
}

.splide.hero {
  width: 100%;
  position: relative;
}
.splide.hero ul li img {
  width: 105%;
  height: 100%;
}
.splide.hero .slide-info-box {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
}
.splide.hero .slide-info-box h1 {
  font-size: 56px;
  font-weight: 300;
  margin-bottom: 20px;
}
.splide.hero .slide-info-box p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.splide.hero .slide-info-box button {
  padding: 12px 30px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 12px;
  transition: all 0.2s;
  cursor: pointer;
}
.splide.hero .slide-info-box button:hover {
  background-color: #0ec1ae;
  border-color: #0ec1ae;
}

.timer-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  color: #242424;
  background-image: url("https://cdn.shopify.com/s/files/1/0651/3157/7585/files/17.1.jpg?v=1660883507&width=1728");
  background-size: cover;
  background-position: center;
}

.timer-container .timer-info-box {
  display: flex;
}

.timer-container .timer-info-box .timer-info {
  border-right: 1px solid rgba(101, 101, 101, 0.0980392157);
  padding: 30px;
}

.timer-container .timer-info-box .timer-info h1 {
  font-size: 40px;
  font-weight: 300;
}

.timer-container .timer-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}
.timer-container .timer-box button {
  display: flex;
  align-items: start;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 0;
}

.timer-container .timer-box .discount {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 10px;
}

.timer-container .timer-box .timer {
  background-color: white;
  color: red;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-carousel {
  position: relative;
  padding: 60px 0;
}
.product-carousel h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 34px;
}
.product-carousel .carousel-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.162);
  margin-bottom: 40px;
}
.product-carousel .carousel-nav .carousel-nav-button span {
  color: #868686;
  cursor: pointer;
}
.product-carousel .carousel-nav .carousel-nav-button span.active {
  color: #222222;
  border-bottom: 1px solid #222222;
  padding-bottom: 20px;
}

.carousel-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  max-width: 80%;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s;
  transform: translateY(40px);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.carousel-body.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  position: relative;
}
@media (max-width: 1100px) {
  .carousel-body {
    max-width: calc(100% - 60px);
  }
}
@media (max-width: 768px) {
  .carousel-body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .carousel-body {
    grid-template-columns: 1fr 1fr;
  }
}

.product-card .product-card-inner {
  position: relative;
  overflow: hidden;
}
.product-card .product-card-inner .card-image img {
  aspect-ratio: 1/1.2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-card .product-card-inner .product-tag span {
  padding: 3px;
  background-color: red;
  color: white;
  font-size: 11px;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
.product-card .product-card-inner .variants-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}
.product-card .product-card-inner:hover .variants-info {
  visibility: visible;
  opacity: 1;
}
.product-card .product-card-info .name-wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
}
.product-card .product-card-info .name-wishlist .name {
  color: #333;
}
.product-card .product-card-info .price {
  color: #696969;
  font-size: 14px;
}

.collections-slider {
  padding-bottom: 70px;
}
.collections-slider .splide__slide {
  position: relative;
}
.collections-slider .splide__slide .collection-slide-info-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  right: 0;
  left: 0;
}
.collections-slider .splide__slide .collection-slide-info-box button {
  padding: 12px 30px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 12px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: white;
  color: #222222;
  width: 150px;
}
.collections-slider .splide__slide .collection-slide-info-box button:hover {
  background-color: #0ec1ae;
  border-color: #0ec1ae;
  color: white;
}

.banner-with-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: 0 auto;
}
.banner-with-text .banner-info h2 {
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 30px;
}
.banner-with-text .banner-info p {
  padding-right: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #868686;
  margin-bottom: 30px;
}
.banner-with-text .banner-info button {
  padding: 12px 30px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 12px;
  transition: all 0.2s;
  cursor: pointer;
  color: black;
  border: 2px solid black;
}
.banner-with-text .banner-info button:hover {
  background-color: #0ec1ae;
  color: white;
  border: 2px solid #0ec1ae;
}
.banner-with-text .banner-images {
  position: relative;
  padding: 40px;
  transition: all 0.3s;
}
.banner-with-text .banner-images img {
  width: 100%;
}
.banner-with-text .banner-images .main-image {
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
}
.banner-with-text .banner-images .secondry-image {
  position: absolute;
  width: 35%;
  top: 30%;
  left: 0%;
  transition: all 0.3s;
}
.banner-with-text .banner-images:hover .secondry-image {
  scale: 0.95;
}

.testimonials {
  padding: 40px 0;
  text-align: center;
  background-color: #fbf3f0;
}
.testimonials .testimonials-slide-info-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.testimonials .testimonials-slide-info-box p {
  padding: 0 40px;
  font-size: 24px;
  line-height: 40px;
}
.testimonials .testimonials-slide-info-box .testimonials-author .author-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.testimonials .testimonials-slide-info-box .testimonials-author p {
  font-size: 16px;
}
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-115%, 0, 0);
  }
}
.instagram-carousel .instagram-carousel-title {
  padding: 20px 0;
  background-color: #eaf1f6;
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  overflow: hidden;
}
.instagram-carousel .instagram-carousel-title h1 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 1.5px;
  line-height: 92px;
  color: transparent;
  -webkit-text-fill-color: #eaf1f6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 4s;
}
.instagram-carousel .instagram-carousel-title:hover h1 {
  animation-play-state: paused;
}
.instagram-carousel .instagram-images {
  padding: 20px;
}

footer {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 30px;
}
@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 576px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
}
footer section h3 {
  font-size: 13px;
  font-weight: 500;
  padding: 20px 0;
}
footer section ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer section ul li, footer section ul li a {
  font-size: 14px;
  color: #868686;
  transition: all 0.2s;
  cursor: pointer;
}
footer section ul li:hover, footer section ul li a:hover {
  color: #222222;
}

.newsletter {
  padding: 20px 0;
}
.newsletter h2 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 26px;
  margin-bottom: 20px;
}
.newsletter p {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #868686;
  margin-bottom: 20px;
}
.newsletter .newsletter-input {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}
.newsletter .newsletter-input input {
  border: none;
  background-color: transparent;
  width: 65%;
  padding: 10px 0;
  font-size: 14px;
}
.newsletter .newsletter-input button {
  width: 35%;
  border: none;
  background-color: transparent;
}
.newsletter .socials {
  display: flex;
  gap: 10px;
}
.newsletter .socials span {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.newsletter .socials span i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.mega-menu {
  display: flex;
  background-color: white;
  color: #222222;
  position: absolute;
  top: 55px;
  padding-top: 3px;
  padding: 20px 30px;
  min-width: 250px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.mega-menu.active {
  visibility: visible;
  opacity: 1;
}
.mega-menu.active.mega {
  right: 0;
  left: 0;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}
.mega-menu .childlinks-with-children {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.mega-menu .childlinks-with-children .link-grandchilds {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.mega-menu .childlinks-with-children .link-grandchilds a {
  padding: 0;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 800px;
  padding: 40px 20px;
}
.not-found-page .not-found-image img {
  width: 100%;
}
.not-found-page .not-found-heading {
  font-weight: 400;
}
.not-found-page .not-found-subtext {
  color: #868686;
  font-size: 15px;
}
.not-found-page .not-found-subtext a {
  text-decoration: underline;
}
.not-found-page .not-found-subtext a:hover {
  color: #0ec1ae;
}

.blog-article {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #868686;
}
.blog-article .article-category {
  text-transform: uppercase;
}
.blog-article .article-category a {
  color: #868686;
  font-size: 14px;
}
.blog-article .article-title {
  font-size: 38px;
  font-weight: 300;
  color: #222222;
}
.blog-article .article-author-box {
  display: flex;
  font-size: 13px;
}
.blog-article .article-author-box .article-author {
  padding: 5px 10px;
  border-right: 0.2px solid rgba(134, 134, 134, 0.3411764706);
}
.blog-article .article-author-box .article-author i {
  margin-right: 5px;
}
.blog-article .article-author-box .article-comments-top {
  padding: 5px 10px;
}
.blog-article .article-author-box .article-comments-top i {
  margin-right: 5px;
}
.blog-article .article-featured-image {
  max-width: calc(100% - 60px);
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}
.blog-article .article-featured-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-article .article-content {
  max-width: 80%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.7;
}
.blog-article .article-content::first-letter {
  font-size: 40px;
  color: black;
}
.blog-article .article-content p {
  margin-top: 15px;
}
@media (max-width: 1100px) {
  .blog-article .article-content {
    max-width: calc(100% - 80px);
  }
}
.blog-article .article-tags {
  margin-top: 40px;
}
.blog-article .article-tags .article-tag {
  cursor: pointer;
  text-transform: capitalize;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 300;
  border: 0.3px solid rgba(134, 134, 134, 0.3411764706);
  transition: all 0.2s;
}
.blog-article .article-tags .article-tag:hover {
  color: #0ec1ae;
  border-color: #0ec1ae;
}

.article-comments {
  max-width: calc(100% - 60px);
  margin: 0 auto;
  margin-top: 60px;
  border-top: 0.3px solid rgba(134, 134, 134, 0.3411764706);
  padding-top: 40px;
}
.article-comments .comment-box {
  width: 100%;
  margin: 0 auto;
  border-bottom: 0.3px solid rgba(134, 134, 134, 0.3411764706);
  margin-bottom: 20px;
}
.article-comments .comment-box .comment-author {
  padding: 10px 20px 0px;
  font-size: 13px;
  color: #868686;
}
.article-comments .comment-box .comment-content {
  padding: 15px 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  width: calc(100% - 60px);
}
.comment-form h3 {
  font-size: 26px;
  font-weight: 400;
}
.comment-form p {
  font-size: 12px;
  font-weight: 400;
  color: #868686;
}
.comment-form p span {
  color: red;
}
.comment-form .comment-form-container {
  width: 100%;
}
.comment-form .comment-form-container .comment-errors-container .comment-error-message {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: red;
}
.comment-form .comment-form-container .comment-errors-container .comment-error-message span {
  width: 25px;
}
.comment-form .comment-form-form .comment-form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.comment-form .comment-form-form .comment-form-top .comment-name, .comment-form .comment-form-form .comment-form-top .comment-email {
  position: relative;
  width: 50%;
}
.comment-form .comment-form-form .comment-form-top .comment-name label, .comment-form .comment-form-form .comment-form-top .comment-email label {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 14px;
  color: #868686;
  font-size: 16px;
  display: flex;
  transform: scale(1);
  transition: font-size 0.2s linear, top 0.2s linear;
}
.comment-form .comment-form-form .comment-form-top .comment-name input, .comment-form .comment-form-form .comment-form-top .comment-email input {
  min-width: 100%;
  height: 59px;
  padding: 12px 24px;
  border: 1px solid #e6e6e6;
}
.comment-form .comment-form-form .comment-form-top .comment-name input:focus, .comment-form .comment-form-form .comment-form-top .comment-email input:focus {
  outline: none;
}
.comment-form .comment-form-form .comment-form-top .comment-name input:focus + label, .comment-form .comment-form-form .comment-form-top .comment-email input:focus + label {
  top: 0;
  font-size: 12px;
}
.comment-form .comment-form-form .comment-body textarea {
  min-height: 336px;
  border: 1px solid #e6e6e6;
  overflow: scroll;
  padding: 20px 22px;
  width: 100%;
}
.comment-form .comment-form-form .comment-body textarea:focus {
  outline: none;
}
.comment-form .comment-form-form .comment-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.comment-form .comment-form-form .comment-submit button {
  padding: 12px 30px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 12px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: black;
  color: white;
}
.comment-form .comment-form-form .comment-submit button:hover {
  background-color: #0ec1ae;
}

.blog-page {
  display: flex;
  flex-direction: column;
}
.blog-page .blog-title {
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
}
.blog-page .page-location-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.blog-page .page-location-container span {
  color: #868686;
  font-size: 14px;
}
.blog-page .blog-tags {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
}
.blog-page .blog-tags .blog-tag {
  color: #868686;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}
.blog-page .blog-tags .blog-tag.active {
  color: black;
  border-bottom: 2px solid black;
}
.blog-page .blog-body {
  display: flex;
  width: calc(100% - 60px);
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .blog-page .blog-body {
    flex-direction: column;
  }
}
.blog-page .blog-body .blog-articles {
  margin-bottom: 30px;
  flex: 0 0 75%;
}
@media (max-width: 1000px) {
  .blog-page .blog-body .blog-articles {
    flex-basis: 100%;
  }
}
.blog-page .blog-body .blog-articles .blog-page-article {
  margin-bottom: 30px;
}
.blog-page .blog-body .blog-articles .blog-page-article .blog-article-blogname {
  color: #868686;
}
.blog-page .blog-body .blog-articles .blog-page-article h2 {
  font-size: 28px;
  font-weight: 400;
}
.blog-page .blog-body .blog-articles .blog-page-article .blog-article-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #868686;
  font-size: 14px;
}
.blog-page .blog-body .blog-articles .blog-page-article .blog-article-info i {
  margin-right: 5px;
}
.blog-page .blog-body .blog-articles .blog-page-article .blog-article-info .blog-article-comments {
  padding-left: 10px;
  border-right: 1px solid #e6e6e6;
}
.blog-page .blog-body .blog-articles .blog-page-article .article-excerpt {
  margin-top: 20px;
  color: #868686;
  font-size: 14px;
}
.blog-page .blog-body .blog-articles .blog-page-article .article-link {
  margin-top: 20px;
}
.blog-page .blog-body .blog-articles .blog-page-article .article-link button {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
}
.blog-page .blog-body .blog-articles .blog-page-article .article-link button:hover {
  color: #0ec1ae;
  border-color: #0ec1ae;
}
.blog-page .blog-body .blog-sidebar {
  flex: 0 1 10%;
}
@media (max-width: 1000px) {
  .blog-page .blog-body .blog-sidebar {
    display: none;
  }
}
.blog-page .blog-body .blog-sidebar .popular-posts {
  border: 1px solid #e6e6e6;
}
.blog-page .blog-body .blog-sidebar .popular-posts .popular-posts-heading {
  padding: 10px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.blog-page .blog-body .blog-sidebar .popular-posts .popular-posts-heading span {
  padding: 1px 10px;
  border-left: 2px solid black;
  text-transform: uppercase;
}
.blog-page .blog-body .blog-sidebar .popular-posts .popular-posts-body .pop-blog-post {
  display: flex;
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.blog-page .blog-body .blog-sidebar .popular-posts .popular-posts-body .pop-blog-post .pop-blog-img-container {
  padding: 5px;
  min-height: 80px;
  min-width: 80px;
}
.blog-page .blog-body .blog-sidebar .popular-posts .popular-posts-body .pop-blog-post .pop-blog-img-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-page .blog-body .blog-sidebar .popular-posts .popular-posts-body .pop-blog-post .pop-blog-post-info {
  flex-basis: 80%;
  padding: 5px;
}

.cart-page {
  width: calc(100% - 60px);
  margin: 40px auto;
}
.cart-page .page-title {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}
.cart-page form table {
  width: 100%;
  text-align: center;
}
.cart-page form table td {
  padding: 10px;
}
.cart-page form table td .cart-product-image {
  height: 80px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.cart-page form table td.cart-product-info {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.cart-page form table td .cart-item-quantity {
  padding: 5px 10px;
  text-align: center;
}
.cart-page form table td .cart-item-quantity:focus {
  outline: none;
}
.cart-page form .cart-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cart-page form .cart-info .cart-details {
  flex-basis: 50%;
}
.cart-page form .cart-info .cart-details label {
  display: block;
  margin: 10px 0;
}
.cart-page form .cart-info .cart-details .cart-note__input {
  width: 100%;
  height: 120px;
  padding: 20px;
  resize: none;
  border: 1px solid #e6e6e6;
}
.cart-page form .cart-info .cart-details .cart-note__input:focus {
  outline: none;
  border-color: black;
}
.cart-page form .cart-info .cart-details .cart-discount {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #e6e6e6;
}
.cart-page form .cart-info .cart-details .cart-discount:focus {
  outline: none;
  border-color: black;
}
.cart-page form .cart-info .form-details-buttons .cart-total {
  text-transform: uppercase;
}
.cart-page form .cart-info .form-details-buttons button {
  padding: 12px 30px;
  color: white;
  background-color: black;
  border: 1px solid white;
  font-size: 12px;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
.cart-page form .cart-info .form-details-buttons button:hover {
  background-color: #0ec1ae;
}

.collection-page-container .collection-page-header {
  background-image: url("https://cdn.shopify.com/s/files/1/0651/3157/7585/files/bn_shop.jpg?v=1660268785&width=1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 60px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-page-container .collection-page-header h1 {
  font-size: 36px;
  font-weight: 400;
}
.collection-page-container .collection-page-header .page-location-container span a, .collection-page-container .collection-page-header .page-location-container span {
  color: white;
  font-size: 14px;
}
.collection-page-container .collection-page-header .page-location-container span i {
  font-size: 10px;
}
.collection-page-container .collection-page-header .collections-nav-container {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.collection-page-container .collection-page-header .collections-nav-container .collections-nav-item {
  color: white;
  padding: 10px 0;
}
.collection-page-container .collection-page-header .collections-nav-container .collections-nav-item.active {
  border-bottom: 2px solid white;
}
.collection-page-container .collection-container {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin: 50px auto;
}
.collection-page-container .collection-container .collection-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 768px) {
  .collection-page-container .collection-container .collection-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .collection-page-container .collection-container .collection-products {
    grid-template-columns: 1fr 1fr;
  }
}

.pagination-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.pagination-nav-container .pagination-nav-item {
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #e6e6e6;
  color: #868686;
}
.pagination-nav-container .pagination-nav-item.active {
  cursor: default;
  background-color: black;
  color: white;
}/*# sourceMappingURL=theme.css.map */